In [3]:
import pandas as pd
import datetime as dt
import numpy as np
import matplotlib as plt

In [16]:
df = pd.read_csv("data/IDCKMSTM0S.csv", na_values=' ')
df

,NAME,DISTURBANCE_ID,TM,TYPE,DATA_SRC,SURFACE_CODE,CYC_TYPE,LAT,LON,POSITION_METHOD,...,MAX_REP_SWL_PER,MAX_REP_SWL_METHOD,MAX_REP_SWL_LON,MAX_REP_SWL_LAT,MAX_REP_TIDE_ANOM,MAX_REP_TIDE_ANOM_UNCERTAINTY,MAX_REP_TIDE_ANOM_METHOD,MAX_REP_TIDE_ANOM_LON,MAX_REP_TIDE_ANOM_LAT,COMMENT
0,unnamed,AU190607_01U,17/01/1907 23:00,T,NaN,1.0,NaN,-13.0,146.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Imported from CYCARD; June 2009
1,unnamed,AU190607_01U,18/01/1907 23:00,T,NaN,3.0,NaN,-15.0,145.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Imported from CYCARD; June 2009
2,unnamed,AU190607_01U,19/01/1907 23:00,T,NaN,2.0,NaN,-14.0,143.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Imported from CYCARD; June 2009
3,unnamed,AU190607_01U,20/01/1907 23:00,T,NaN,2.0,NaN,-13.5,142.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Imported from CYCARD; June 2009
4,unnamed,AU190607_01U,21/01/1907 23:00,T,NaN,4.0,NaN,-15.6,141.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Imported from CYCARD; June 2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28300,Odette,AU202021_23U,9/04/2021 12:00,D,NaN,NaN,NaN,-15.8,110.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28301,Odette,AU202021_23U,9/04/2021 18:00,D,NaN,NaN,NaN,-17.1,112.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28302,Odette,AU202021_23U,10/04/2021 0:00,D,NaN,NaN,NaN,-18.9,112.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28303,Odette,AU202021_23U,10/04/2021 6:00,D,NaN,NaN,NaN,-21.0,112.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28304,Odette,AU202021_23U,10/04/2021 12:00,D,NaN,NaN,NaN,-23.5,111.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# Extract data range 1990 onwards
data['TM'] = pd.to_datetime(data['TM'], format='%d/%m/%Y %H:%M')
data_1990 = data.loc[data["TM"] >= "01-01-1990"]
data_1990

,NAME,DISTURBANCE_ID,TM,TYPE,DATA_SRC,SURFACE_CODE,CYC_TYPE,LAT,LON,POSITION_METHOD,...,MAX_REP_SWL_PER,MAX_REP_SWL_METHOD,MAX_REP_SWL_LON,MAX_REP_SWL_LAT,MAX_REP_TIDE_ANOM,MAX_REP_TIDE_ANOM_UNCERTAINTY,MAX_REP_TIDE_ANOM_METHOD,MAX_REP_TIDE_ANOM_LON,MAX_REP_TIDE_ANOM_LAT,COMMENT
16331,ROSITA,AU198990_03U,1990-01-04 18:00:00,T,2.0,1.0,20.0,-12.7,111.7,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16332,ROSITA,AU198990_03U,1990-01-05 00:00:00,T,2.0,1.0,20.0,-12.8,110.6,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16333,ROSITA,AU198990_03U,1990-01-05 06:00:00,T,2.0,1.0,20.0,-12.9,109.8,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16334,ROSITA,AU198990_03U,1990-01-05 12:00:00,T,2.0,1.0,20.0,-13.0,108.5,3.0,...,10.0,1.0,106.7,-13.6,NaN,NaN,NaN,NaN,NaN,NaN
16335,ROSITA,AU198990_03U,1990-01-05 18:00:00,T,2.0,1.0,20.0,-13.2,107.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28300,Odette,AU202021_23U,2021-04-09 12:00:00,D,NaN,NaN,NaN,-15.8,110.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28301,Odette,AU202021_23U,2021-04-09 18:00:00,D,NaN,NaN,NaN,-17.1,112.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28302,Odette,AU202021_23U,2021-04-10 00:00:00,D,NaN,NaN,NaN,-18.9,112.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28303,Odette,AU202021_23U,2021-04-10 06:00:00,D,NaN,NaN,NaN,-21.0,112.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28304,Odette,AU202021_23U,2021-04-10 12:00:00,D,NaN,NaN,NaN,-23.5,111.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
data_df = data_1990[["NAME","TM", "TYPE","DATA_SRC", "SURFACE_CODE", "CYC_TYPE", "LAT","LON","CENTRAL_PRES",
           "MAX_WIND_SPD"]]
data_df["NAME"]=data_df["NAME"].apply(lambda x: x.strip().title())
data_df["NAME"]

C:\Users\Lites\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

16331    Rosita
16332    Rosita
16333    Rosita
16334    Rosita
16335    Rosita
          ...
28300    Odette
28301    Odette
28302    Odette
28303    Odette
28304    Odette
Name: NAME, Length: 11972, dtype: object

In [21]:
#Create a copy
df_data = data_df.copy()

In [22]:
data_df = data_df.dropna()
data_df.shape

(8934, 10)

In [23]:
data_df.to_csv("data/Cyclone_1990_clean.csv", sep= ",",header=True, index=False)